<footer
  class='bg-GrayL3 p-2 fixed bottom-0 w-full flex justify-center items-center text-sm gap-2'
>
  <a href='#' target='_blank' rel='noreferrer'>
    <img
      class='w-8 h-8 flex justify-center items-center rounded-full bg-white p-1'
      src='/github.svg'
      alt='github'
    />
  </a>
  <p class='text-lg'>"Creado por Andino Rodrigo Agustín"</p>
</footer>
