---
import Form from './Form.astro'
import Welcome from './Welcome.astro'
---

<section
  class='relative bg-[url(/Home.svg)] bg-cover bg-center bg-no-repeat flex max-sm:flex-col max-sm:h-screen'
>
  <Welcome />
  <Form />
</section>
