---
title: 'Intro'
import { JobOffer } from '../components/jobOffer'
---

<section
  class='bg-GrayL3 px-9 py-8 sm:px-6 flex flex-col h-screen max-sm:h-full'
>
  <div class='max-w-3xl mx-auto'>
    <h2 class='text-3xl font-extrabold sm:text-4xl mb-4'>
      Welcome to AI Interview <strong class='font-extrabold text-primary'
        >Odyssey!</strong
      >
    </h2>

    <p class='text-gray-600 mb-4'>
      In this simulation, you will experience an unconventional job interview.
      Our AI interviewers have unique personalities and will ask you a series of
      questions. Your goal is to answer the questions to the best of your
      ability and have fun with the extravagant responses from our AI
      interviewers.
    </p>

    <form action='/interview' method='GET' class='mt-8'>
      <h3 class='font-medium text-xl'>Select an Interviewer:</h3>
      <div class='grid grid-cols-1 gap-4 text-center sm:grid-cols-3 mb-4'>
        <div>
          <input
            class='peer sr-only'
            id='option1'
            type='radio'
            tabindex='-1'
            name='option'
            value='Dr. Jokester'
            checked
          />

          <label
            for='option1'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Dr. Jokester</span>
          </label>
        </div>

        <div>
          <input
            class='peer sr-only'
            id='option2'
            type='radio'
            tabindex='-1'
            name='option'
            value='Madame Eccentric'
          />

          <label
            for='option2'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Madame Eccentric</span>
          </label>
        </div>

        <div>
          <input
            class='peer sr-only'
            id='option3'
            type='radio'
            tabindex='-1'
            name='option'
            value='Captain Quirk'
          />

          <label
            for='option3'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Captain Quirk</span>
          </label>
        </div>
      </div>

      <div class='flex gap-6 justify-around max-sm:flex-col'>
        <div class='mb-4 w-1/2 max-sm:w-full'>
          <label class='font-medium text-xl' for='interview-type'
            >Select Interview Type:</label
          >
          <select
            name='interview-type'
            id='interview-type'
            class='block w-full mt-1 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm'
          >
            <option value='technical'>Technical Interview</option>
            <option value='behavioral'>Behavioral Interview</option>
            <option value='case'>Case Study Interview</option>
          </select>
        </div>

        <div class='mb-4 w-1/2 max-sm:w-full'>
          <label class='font-medium text-xl' for='id-jobs'>ID job Offer</label>
          <input
            type='text'
            name='id-jobs'
            class='block w-full mt-1 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm'
            placeholder='282f50dec44d1ca...'
            required
          />
        </div>
      </div>

      <button
        type='submit'
        class='block w-full rounded-lg bg-primary px-12 py-3 text-sm font-medium text-white shadow hover:bg-secondary focus:outline-none focus:ring active:bg-rose-500 sm:w-auto'
      >
        Start the Interview
      </button>
    </form>
  </div>

  <div class='max-w-3xl mx-auto mt-4 overflow-y-auto'>
    <JobOffer client:load />
  </div>
</section>
