---
import { JobOffer } from '../components/jobOffer'
---

<main class='bg-GrayL3 px-9 py-8 sm:px-6 flex flex-col h-screen max-sm:h-full'>
  <div class='max-w-3xl mx-auto'>
    <h2 class='text-3xl font-extrabold sm:text-4xl mb-4'>
      Welcome to AI Interview <strong class='font-extrabold text-primary'
        >Odyssey!</strong
      >
    </h2>

    <p class='text-gray-600 mb-4'>
      En esta simulación, experimentarás una entrevista de trabajo poco
      convencional. Nuestros entrevistadores de IA tienen personalidades únicas
      y te harán una serie de preguntas. Tu objetivo es responder a las
      preguntas de la mejor manera posible y divertirte. ¡Buena suerte!
    </p>

    <form action='/interview' class='mt-8' id='form'>
      <h3 class='font-medium text-xl'>Selecciona el entrevistador:</h3>
      <div class='grid grid-cols-1 gap-4 text-center sm:grid-cols-3 mb-4'>
        <div>
          <input
            class='peer sr-only'
            id='option1'
            type='radio'
            tabindex='-1'
            name='option'
            value='Dr. Jokester'
            checked
          />

          <label
            for='option1'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Dr. Jokester</span>
          </label>
        </div>

        <div>
          <input
            class='peer sr-only'
            id='option2'
            type='radio'
            tabindex='-1'
            name='option'
            value='Madame Eccentric'
          />

          <label
            for='option2'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Madame Eccentric</span>
          </label>
        </div>

        <div>
          <input
            class='peer sr-only'
            id='option3'
            type='radio'
            tabindex='-1'
            name='option'
            value='Captain Quirk'
          />

          <label
            for='option3'
            class='block w-full rounded-lg border border-gray-300 p-3 hover:border-primary peer-checked:border-secondary peer-checked:bg-secondary peer-checked:text-white'
            tabindex='0'
          >
            <span class='text-sm font-medium'>Captain Quirk</span>
          </label>
        </div>
      </div>

      <div class='flex gap-6 justify-around max-sm:flex-col'>
        <div class='mb-4 w-1/2 max-sm:w-full'>
          <label class='font-medium text-xl' for='interview-type'
            >Selecciona el tipo de entrevista:</label
          >
          <select
            name='interview-type'
            id='interview-type'
            class='block w-full mt-1 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm'
          >
            <option value='technical'>Técnica</option>
            <option value='behavioral'>Conductual</option>
            <option value='case'>Resolución de problemas</option>
          </select>
        </div>

        <div class='mb-4 w-1/2 max-sm:w-full'>
          <label class='font-medium text-xl' for='id-jobs'
            >ID Oferta de Trabajo</label
          >
          <input
            type='text'
            name='id-jobs'
            id='id-jobs'
            class='block w-full mt-1 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm'
            placeholder='282f50dec44d1ca...'
            required
          />
        </div>
      </div>

      <button
        type='submit'
        class='block w-full rounded-lg bg-primary px-12 py-3 text-sm font-medium text-white shadow hover:bg-secondary focus:outline-none focus:ring active:bg-rose-500 sm:w-auto'
      >
        Empezar con la entrevista
      </button>
    </form>
  </div>

  <div class='max-w-3xl mx-auto mt-4 overflow-y-auto'>
    <JobOffer client:load />
  </div>
</main>
